{{>navigation}}

<div class="container-bio">
    <header class="showcase-bio"></header>
   
    <br>
    <div class="text-bio">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet blanditiis ipsum at, doloribus rerum officia
        deleniti tempora qui facere quas nihil ipsa, sint necessitatibus quia! Tempora, qui. Reprehenderit labore
        repudiandae, distinctio omnis unde recusandae ut autem voluptatem doloribus quas ad dolor laborum aspernatur
        facere earum commodi consequuntur nihil officiis ab!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsum cumque mollitia sint inventore, quo neque
        explicabo accusamus impedit, assumenda minima sunt repudiandae dolorem perspiciatis quasi quas. Ut quisquam
        ratione inventore aspernatur, repellat dignissimos omnis dolore adipisci aperiam iusto deserunt explicabo
        placeat odio, fugiat repudiandae ex voluptate? Ipsum fugiat quia exercitationem aliquam similique amet debitis
        sit repellat, accusamus reiciendis maiores!</p>

    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque dignissimos nemo eius accusamus, quae amet
        minima exercitationem fugit. Deserunt tenetur beatae alias tempora explicabo odit, blanditiis obcaecati minus
        quis, nulla labore. Illo vero animi optio ullam assumenda incidunt, dignissimos ipsam amet dolorum saepe. Natus
        tempore error atque perspiciatis, officia, ipsa nesciunt nulla doloremque quos nostrum, adipisci deleniti! Iste
        sint dolorum nam consequatur illo sit natus! Exercitationem quod dolorem in consequatur expedita labore nisi
        rerum a eligendi laudantium, eveniet dignissimos quis, maiores consectetur obcaecati ratione non illo aut
        commodi quaerat quibusdam. Recusandae minus esse, delectus consequatur repudiandae repellat eius doloremque
        adipisci?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae tempore veniam corrupti iste accusantium quam.
        Recusandae quia numquam nulla molestias dolorum, voluptatem eius ex ratione molestiae quasi architecto at iste,
        maiores officiis dolorem placeat omnis possimus. Eveniet officiis impedit, voluptatibus veniam quod cumque
        dolorum ipsum reprehenderit reiciendis quas rerum placeat veritatis iure vitae blanditiis sint in praesentium
        hic? Delectus, excepturi!</p>

    <br>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non quaerat voluptate nostrum architecto amet, culpa
        voluptatem quos veniam accusamus repellendus sapiente illum assumenda voluptatibus libero sed laboriosam
        corporis ipsa quae recusandae eveniet natus vero totam dicta quis! Minus, at nesciunt.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis amet recusandae natus. Commodi quasi
        expedita ad, nisi quam eum voluptate hic deserunt! Corporis minima deserunt praesentium nesciunt in obcaecati
        laudantium nisi tempora ut modi unde, accusamus eius, a error neque voluptatibus ea sed accusantium omnis
        architecto sit! Officia tenetur corrupti accusamus eum cupiditate corporis natus commodi dolor, dignissimos sunt
        animi perspiciatis praesentium iste. Eaque, a? Fugiat iusto dolor autem debitis aspernatur, odio, vel ipsa fuga
        qui nisi ratione laudantium dignissimos!</p>
</div>

    </div>
    
<br>
<section class="lunaris-logo"></section>

<!--Integrants-->

<div class="integrants">
   <div class="container-integrants">
        <div>
        <img src="/img/integrants/dany.jpg" alt="dany">
        <h3>DANY</h3>
        <p>Guitarra</p>
        <a href="https://www.instagram.com/danipech_/" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
    <div>
        <img src="/img/integrants/lalo.jpg" alt="lalo">
        <h3>LALO</h3>
        <p>Bateria</p>
        <a href="https://www.instagram.com/lalo_rosado/" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
    <div>
        <img src="/img/integrants/aldo.jpg" alt="aldo">
        <h3>ALDO</h3>
        <p>Voz/Guitarra Ritmica</p>
        <a href="https://www.instagram.com/maldon.aldo/" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
    <div>
        <img src="/img/integrants/vany.jpg" alt="vany">
        <h3>VANY</h3>
        <p>Teclados</p>
        <a href="https://www.instagram.com/yovanicamarapren/" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
    <div>
        <img src="/img/integrants/charly.jpg" alt="charly">
        <h3>CHARLY</h3>
        <p>Bajo</p>
        <a href="https://www.instagram.com/charles_ramirez33/" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
   </div>
</div>



{{>footer}}