
<!--SHOWCASE-->

<header class="showcase">
    <h2>MALOS TIEMPOS PARA LA LÍRICA</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam natus eos laborum modi. Tenetur molestias voluptate nemo impedit laudantium. Voluptatum.</p>
</header>

<!--Texto1-->
<div class="container-text1">
    <h1>NUEVO SENCILLO "PARÍS"</h1>
    <p>París es el segundo sencillo perteneciente a nuestro próximo álbum "Universos de piel" </p>
</div>

<!-- SHOWCASE 2 (PARIS) -->

<header class="showcase2">
    <a href="https://www.youtube.com/watch?v=MYvzHjiMlAs" class="btn" target="_blank"><i class="fas fa-angle-double-left"></i> ESCUCHAR PARÍS <i class=" fas fa-angle-double-right"></i></a>
</header>

