
{{>navigation}}

<header class="video-showcase"></header>
<br>

<div class="text-video">
    <h2>VIDEOS</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, enim praesentium corrupti eaque aspernatur perspiciatis iusto nemo quam quod officia laboriosam officiis voluptates delectus. Ad est soluta iusto, ipsum error voluptatibus. Quaerat, qui iste maxime quam alias eos, libero praesentium amet voluptatum fugit ad eius quidem pariatur esse dolore accusantium?</p>
</div>
<hr>
<br>

<div class="card-video">
    <div>
        <iframe width="460" height="315" src="https://www.youtube.com/embed/MYvzHjiMlAs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3>París</h3>
        <p>Nuestro ultimo lanzamiento, sencillo del próximo albúm Universos De Piel.</p>
    </div>
    <div>
        <iframe width="460" height="315" src="https://www.youtube.com/embed/erwu-BquCiE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3>Helena Ray</h3>
        <p>Video Oficial de nuestro album Universos De Piel.</p>
    </div>
    <div>
        <iframe width="460" height="315" src="https://www.youtube.com/embed/WWWJzdN4OpY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3>Contando Planetas</h3>
        <p>Tercer sencillo perteneciente a nuestro disco Universos De Piel. Disponible en todas las plataformas digitales.</p>
    </div>
    <div>
        <iframe width="460" height="315" src="https://www.youtube.com/embed/QwVwudoyleA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3>Contando Planetas (Versión Demo)</h3>
        <p>Version Demo de Contando Planetas.</p>
    </div>
    <div>
        <iframe width="460" height="315" src="https://www.youtube.com/embed/JrmTRdsC-NE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3>Buenos Aires (Versión Demo)</h3>
        <p>Version Demo de Buenos Aires.</p>
    </div>
    <div>
        <iframe width="460" height="315" src="https://www.youtube.com/embed/KO4fXy72Jy4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3>Monocromanticismo (Versión Demo)</h3>
        <p>Version Demo de Monocromanticismo.</p>

    </div>
</div>
<br>
<hr>

{{>footer}}