
<!--SOCIAL NETWORKS-->
        <section class="social">
            <p>SIGUENOS EN NUESTRAS REDES</p>
            <div class="links">
                <a href="https://www.facebook.com/lunarismx" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.youtube.com/channel/UCDtYkDvS25uES3ZwpVWhxmA" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="https://www.instagram.com/lunarismx" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://open.spotify.com/artist/6u9oH2tvWFAWg6fnh3nHUe" target="_blank">
                    <i class="fab fa-spotify"></i>
                </a>
            </div>
        </section>

<!--FOOTER-->

    <footer class="footer">
        <h3> <i <i class="fas fa-copyright"></i></i> 2020 LUNÂRIS. All Rights Reserved.</h3>
    </footer>
    