<!--Navigation-->
<br>
<hr>
<br>
<nav class="nav-main">
    <a href="/">
        <img src="/img/lunaris.png" href= alt="Lunaris logo" class="nav-brand">
    </a>
    
    <ul class="nav-menu ">
        <li>
            <a href="/">INICIO</a>
        </li>
        <li>
            <a href="/bio">BIOGRAFÍA</a>
        </li>
        <li>
            <a href="/gallery">GALERÍA</a>
        </li>
        <li>
            <a href="/video">VIDEOS</a>
        </li>
    </ul>
</nav>
<br>
<hr>
<br>