<!--Navigation-->
<br>
<hr>
<nav class="nav-main">
    <img src="/img/lunaris.png" alt="Lunaris logo" class="nav-brand">
    <ul class="nav-menu">
        <li>
            <a href="/">INICIO</a>
        </li>
        <li>
            <a href="#">BIOGRAFÍA</a>
        </li>
        <li>
            <a href="#">GALERÍA</a>
        </li>
        <li>
            <a href="#">VIDEOS</a>
        </li>
    </ul>
    <ul class="nav-menu-right">
        <li>
            <a href="#">
                <i class="fas fa-search"></i>
            </a>
        </li>
    </ul>
</nav>
<hr>
<br>